<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавить пост</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form
        method="post"
        ,
        action="{% url 'post_add' %}"
        enctype="multipart/form-data"
      >
      <div class="modal-body">
          {% csrf_token %}
          <div class="mb-3">
            <label for="exampleInputTitle1" class="form-label">Название</label>
            <input
              name="title"
              type="text"
              class="form-control"
              id="exampleInputTitle1"
              aria-describedby="TitleHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"
              >Описание</label
            >
            <textarea
              name="description"
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
            ></textarea>
            <div class="mb-3">
              <label for="formFile" class="form-label"
                >Выберите фото</label
              >
              <input
                class="form-control"
                name="image"
                type="file"
                id="formFile"
              />
            </div>
          </div>
           <label for="cat" class="form-label"
                >Категория</label
              >
          <select
            name="category"
            class="form-select"
            id="cat"
          >
            <option selected value="None">-------</option>

            {% for cat in categories %}
            <option value="{{cat.id}}">{{cat.title}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
           Закрыть
          </button>
          <button type="submit" class="btn btn-primary">Создать</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  